body {
    background-image: url(../images/dark-honeycomb.png);
    color: gray;
}

#myText {
    color: gray;
    background-image: url(../images/dark-honeycomb.png);
}

#myPicture {
    margin-right: 10px;
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 10px;
}

.floatLeft {
    float: left;
}


@media screen and (min-width: 769px) {
    
    #myPicture {
        max-width: 200px;
        max-height: 200px;
    }
    
}

@media screen and (max-width: 768px) {

    #myPicture {
        max-width: 300px;
        max-height: 300px;
    }

    #myContainer {
        max-width: 100%;
    }

    .row {
        max-width: 100%;
        margin: auto;

    }

}

@media screen and (max-width: 640px) {

    #myPicture {
        margin: auto;
        max-width: 600px;
        max-height: 500px;
    }

}