* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/dark-honeycomb.png);
    color: gray;
}

#myText {
    color: gray;
    background-image: url(../images/dark-honeycomb.png);
    padding: 20px;
    margin-left: -15px;
}

#myContainer{
    position: relative;
}


footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: navy;
   color: darkgray;
   text-align: center;
   padding: 20px;
}

h1 {
    padding: 20px;
}

button {
    margin-bottom: 10px;
}

#myPicture {
    margin-right: 10px;
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 10px;
}

.floatLeft {
    float: left;
}

.clearfix {
    overflow: auto;
}

.middleRow {
    margin-top: 20px;
}

.bottomRow {
    margin-top: 20px;
}


@media screen and (min-width: 769px) {
    
    #myPicture {
        max-width: 200px;
        max-height: 200px;
    }
    
}

@media screen and (max-width: 768px) {

    #myPicture {
        max-width: 300px;
        max-height: 300px;
    }

    #myContainer {
        max-width: 100%;
    }

    .row {
        max-width: 100%;
        margin: auto;
    }

    .topRow {
        margin-top: 20px;
    }

}

@media screen and (max-width: 640px) {

    #myPicture {
        margin: auto;
        max-width: 600px;
        max-height: 500px;
    }

    .portfolioImg {
        width: 400px;
        height: 300px;
        margin: auto;
        display: block;
    }

    .topRow {
        margin-top: 20px;
    }

    .middleRow {
        margin-top: 20px;
    }
    
    .bottomRow {
        margin-top: 20px;
    }

}